<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit patient</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/MyStyles.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>

<a href="/logout">Log out</a>

<div>
    <a href="/">Go home</a>
</div>

<form th:action="@{/patient/update}" th:object="${patient}" method="post">
    <input hidden th:field="${patient.id}">
    <div>
        <div>
            <label for="firstName">First name</label>
            <input type="text" th:field="${patient.firstName}" id="firstName" placeholder="First name">
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="${patient.firstName}"></span>
        </div>

        <div>
            <label for="lastName">Last name</label>
            <input type="text" th:field="${patient.lastName}" id="lastName" placeholder="Last name">
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="${patient.lastName}"></span>
        </div>

        <div>
            <label for="dateOfBirth">Date of birth</label>
            <input type="datetime-local" th:field="${patient.dateOfBirth}" id="dateOfBirth" placeholder="Date of birth">
            <span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="${patient.dateOfBirth}"></span>
        </div>
    </div>

    <div>
        <input type="submit" value="Edit patient">
    </div>

</form>

</body>
</html>