<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit doctor</title>
</head>
<body>

<div>
    <a href="/">Go home</a>
</div>

<form th:action="@{/doctor/update}" th:object="${doctor}" method="post">
    <input hidden th:field="${doctor.id}">
    <div>
        <div>
            <label for="firstName">First name</label>
            <input type="text" th:field="${doctor.firstName}" id="firstName" placeholder="First name">
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="${doctor.firstName}"></span>
        </div>

        <div>
            <label for="lastName">Last name</label>
            <input type="text" th:field="${doctor.lastName}" id="lastName" placeholder="Last name">
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="${doctor.lastName}"></span>
        </div>

        <div>
            <label for="email">Email</label>
            <input type="email" th:field="${doctor.email}" id="email" placeholder="Email">
            <span th:if="${#fields.hasErrors('email')}" th:errors="${doctor.email}"></span>
        </div>
    </div>

    <div>
        <input type="submit" value="Edit doctor">
    </div>

</form>

</body>
</html>