<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<h2>Doctors</h2>

<a th:href="@{/signup}">Sign up</a>

<div th:if="${doctors.size() == 0}">
    <h2>No doctors in application</h2>
</div>

<table th:if="${doctors.size() > 0}">
    <thead>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Edit</th>
    <th>Delete</th>
    </thead>
    <tbody>
    <tr th:each="doctor : ${doctors}">
        <td th:text="${doctor.firstName}"></td>
        <td th:text="${doctor.lastName}"></td>
        <td th:text="${doctor.email}"></td>
        <td><a th:href="@{/doctor/edit/{id}(id = ${doctor.id})}" th:text="'Edit doctor with id ' + ${doctor.id}"></a></td>
        <td><a th:href="@{/doctor/delete/{id}(id = ${doctor.id})}" th:text="'Delete doctor with id ' + ${doctor.id}"></a></td>
        <!-- "@link"/{variabila}{variabile} = ${doctor.id}})} -->
    </tr>
    </tbody>

</table>
</body>
</html>